.row  {
    padding: 5px 10px;
}

#divLetter {
    font-weight: bold;
    font-size: 25px;
    color: teal;
}

.divPlayerScore, .divAiScore{
padding: 10px;
background-color: azure;

}

.btn {
    background-color: blue;
}

